
[mysqld]
pid-file = /var/run/mysqld/mysqld.pid
socket  = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
secure-file-priv= NULL

sql_mode = ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

general_log = OFF
slow_query_log = OFF

character_set_server = utf8mb4
collation_server = utf8mb4_bin

# disable this store engines below
# I hate them
skip_federated = ON
skip_blackhole= ON
skip_archive= ON

default_authentication_plugin = mysql_native_password